pip install adversarial-robustness-toolbox
pip install tensorflow
pip install Pillow

pip install pandas
pip install cleverhans
pip install tensorflow_datasets

pip install efficientnet



pip install opencv-python